@model BrixProduct

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="text-center">
    <h2>Add a new product, fill out the form below:</h2>
    <form method= "post">
        
        <input type = "hidden" asp-for="ProductId" />

        <label asp-for="Name">Product Name:</label>
        <input asp-for="Name"/>
        <br />
        <label asp-for="Year">Product Year:</label>
        <input asp-for="Year"/>
        <br />
        <label asp-for="NumParts">Number of parts:</label>
        <input asp-for="NumParts"/>
        <br />
        <label asp-for="Price">Product Price:</label>
        <input asp-for="Price"/>
        <br />
        <label asp-for="ImgLink">What is the link to this products image:</label>
        <input asp-for="ImgLink"/>
        <br />
        <label asp-for="PrimaryColor">Product's Primary Color:</label>
        <input asp-for="PrimaryColor"/>
        <br />
        <label asp-for="SecondaryColor">Product's Secondary Color:</label>
        <input asp-for="SecondaryColor"/>
        <br /> 
        
        <label asp-for="Description">Product Description:</label>
        <input asp-for="Description"/>
        <br />
        <label asp-for="Category">Product Category:</label>
        <input asp-for="Category">
        <br />
        <button type="submit">Submit</button>
    </form>
    <br />

</div>

@section Scripts {

}
