@{
    ViewData["Title"] = "About Aurora Brix";
}
    <style>
        body {
            background: linear-gradient(to bottom, #10004E, #55439E);
            color: white;
        }

        .image-container {
            float: right;
            margin-right: 40px;
            margin-bottom: 50px;
        }

        .content {
            margin-left: 7%;
            padding: 20px; 
            border-radius: 10px; 
            color: white; 
        }

        h1 {
            margin-left: 8%;
            margin-top: 2%;
        }

    </style>

    <h1>@ViewData["Title"]</h1>

  <div class="content">
    <div>
        <div>
            <h3 style="font-weight: bold; text-decoration: underline;">Welcome to AuroraBrix – Where Every Brick Tells a Story</h3>
            <ul>
                <li>
                    At AuroraBrix, we don’t just sell LEGO sets; we curate moments of joy, nostalgia, and boundless creativity. Born <br />
                    from a passion that transcended generations, our store is a treasure trove for enthusiasts and collectors alike, <br />
                    offering a diverse collection of meticulously pre-built LEGO sets that are as timeless as the memories they evoke.
                </li>
            </ul>
        </div>

        <div class="image-container" style="background-color: white; border-radius: 10px; padding: 10px; display: inline-block;">
            <img src="~/legogirl.jpg" alt="Picture of a lego girl" style="width: 250px; border-radius: 5px;">
        </div>


    </div>
    <div>
        <h3 style="font-weight: bold; text-decoration: underline;">Why AuroraBrix?</h3>
        <ul>
            <li>
                Timeless Quality: Each set is meticulously assembled, ensuring your cherished pieces look as magnificent on display <br />
                as they do in your imagination.
            </li>
            <br />
            <li>
                Exclusive Selection: We specialize in hard-to-find and limited-edition sets, making AuroraBrix a haven for collectors <br />
                and enthusiasts seeking the extraordinary.
            </li>
            <br />
            <li>
                Passion and Expertise: Behind every set is a team of passionate builders and LEGO aficionados, dedicated to bringing <br />
                you the best of the LEGO universe.
            </li>
            <br />
            <li>
                Sustainability and Care: We’re committed to sustainability, carefully sourcing and preserving each set to ensure it <br />
                reaches you in impeccable condition, ready to be a centerpiece in your collection.
            </li>
        </ul>
    </div>
   </div>
