@{
    ViewData["Title"] = "Aurora Brix Privacy Policy";
}
<style>
    .content {
        margin-left: 7%;
    }

    h1 {
        margin-left: 6%;
        margin-top: 2%;
    }
    body {
        background: linear-gradient(to bottom, #10004E, #55439E);
        color: white;
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="content">
    <p>
        <h3 margin-top="2%";>This Privacy Policy describes how AuroraBricks ("we", "us", or "our") collects, uses, and shares information when you use our website AuroraBricks.com (the "Site") or any related services.</h3>
        <br />
        <h3>Information We Collect</h3>
        <ul>
            <li>Personal Information: When you sign up for an account, we may collect certain personal information such as your name, email address, and payment details.</li>
            <li>Usage Information: We automatically collect information about how you interact with our Site, including your IP address, browser type, pages visited, and other usage data.</li>
            <li>Cookies: We may use cookies and similar tracking technologies to enhance your experience on our Site, analyze trends, and personalize content.</li>
        </ul>
        <br />
        <h3>How We Use Your Information</h3>
        <h4>We may use the information we collect for various purposes, including:</h4>
        <ul>
            <li>To provide and maintain our services.</li>
            <li>To communicate with you about your account or updates to our services.</li>
            <li>To personalize your experience and improve our Site.</li>
            <li>To analyze usage trends and monitor the effectiveness of our marketing efforts.</li>
            <li>To detect, prevent, and address technical issues or fraudulent activity.</li>
        </ul>
        <br />
        <h3>Sharing Your Information</h3>
        <h4>We may share your information with third parties under the following circumstances:</h4>
        <ul>
            <li>With service providers who assist us in operating our Site or providing our services.</li>
            <li>With your consent or at your direction.</li>
            <li>In response to legal requests or to comply with applicable laws and regulations.</li>
            <li>In connection with a merger, acquisition, or other business transaction.</li>
        </ul>
    </p>
</div>
