html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Create a cool animated background effect */
body {
  background: linear-gradient(90deg, #10004E, #184075, #215D8A, #21738A, #31A59A, #346CA0, #C147BC, #8D48C2, #6E3996, #4B4689, #2E3476, #4B4689, #6E3996, #8D48C2, #983395, #A051B1, #6452B5, #346CA0, #31A59A, #21738A, #215D8A, #184075, #10004E);
  background-size: 1200% 1200%;
  animation: gradient 300s ease infinite;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 75%;
  }
  10% {
    background-position: 50% 75%;
  }
  20% {
    background-position: 100% 75%;
  }
  30% {
    background-position: 150% 75%;
  }
  40% {
    background-position: 200% 50%;
  }
  50% {
    background-position: 250% 50%;
  }
  60% {
    background-position: 300% 50%;
  }
  70% {
    background-position: 350% 50%;
  }
  80% {
    background-position: 400% 50%;
  }
  90% {
    background-position: 450% 50%;
  }
}
